{{#link "home" tag="button"}}Cancel{{/link}}
<form>
	<p><Label>First Name: <input name="firstname"></Label></p>
	<p><Label>Last Name:<input name="lastname"></Label></p>
	<p><Label>Email: <input name="email"></Label></p>
	<p><Label>Phone: <input name="phone"></Label></p>
	<input type="submit" value="save">
</form>